@page {
    margin: 1cm;
}

body {
    background: linear-gradient(to bottom right, #000000, #666666);
    color: #cccccc;
}

a:link, a:visited {
    color: purple;
    text-decoration: none;
}

a:hover {
    font-style: italic;
    text-decoration: none;
}

nav {
    padding: 1em;
}

#deck_form, #errors {
    padding-bottom: 1em;
}

#errors {
    text-align: left;
}

nav img, nav h1, #deck, #index, .index, img .color, .cost, .name {
    display: inline-block;
}

#source {
    margin-left: 1em;
}

a, h1, h2, h3, h4, h5, h6 {
    text-shadow: 1px 1px white;
    font-weight: bold;
}

h2, h3, h4, h5, h6 {
    color: #666666;
}

article {
    padding: 0 1em 0 1em;
}

#deck, #index {
    vertical-align: top;
}

#deck {
    margin-right: 1em;
    text-align: right;
}

#generate_controls {
    text-align: right;
}

.error {
    color: red;
}

.warning {
    color: yellow;
}

.index, .index_placeholder {
    color: black;
    font-size: 9px;
    height: 3.5in;
    margin: 0 0.5em 0.5em 0.5em;
    padding: 0.5em;
    vertical-align: top;
    width: 2.5in;
}

.index {
    background: white;
    border: 1px solid black;
}

.index_placeholder {
    background-image: url("symbols/illuminary.png");
    background-position: center;
    background-repeat: no-repeat;
    opacity: 25%;
}

.tcg_card {
    padding-bottom: 0.15em;
}

.color, .cost {
    margin-right: 0.25em;
}

.cost {
    width: 16px;
    height: 16px;
}

nav img, nav h1, .cost {
    text-align: center;
    vertical-align: middle;
}

.cost {
    background-position: center;
}

.inkable, .uninkable {
    -webkit-print-color-adjust: exact !important; /* Chrome, Safari 6 – 15.3, Edge */
    color-adjust: exact !important;               /* Firefox 48 – 96 */
    print-color-adjust: exact !important;         /* Firefox 97+, Safari 15.4+ */
}

.inkable {
    background-image: url("symbols/inkable.png");
}

.uninkable {
    background-image: url("symbols/uninkable.png");
}

.name {
    /*
     * Most of:
     *
     * * Crabominable
     * * Asmoranomardicadaistinaculdacar
     * * Institute of Technology - Prestigious University
     *
     */
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    width: 19em;
}
